{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
         {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0"> Welcome! {{ profile.user.username}}</h2>
          
        </div>
        <div class="card-body">
          <h2 class="mb-0"> Account Information</h2>

          <form method="post" action="{% url 'update_profile' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input type="text" class="form-control" id="username" name="username" value="{{ profile.user.username }}">
            </div>
            <div class="mb-3">
              <label for="first_name" class="form-label">First Name:</label>
              <input type="text" class="form-control" id="first_name" name="first_name" value="{{ profile.user.first_name }}">
            </div>
            <div class="mb-3">
              <label for="last_name" class="form-label">Last Name:</label>
              <input type="text" class="form-control" id="last_name" name="last_name" value="{{ profile.user.last_name }}">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ profile.user.email }}">
            </div>
            <button type="submit" class="btn btn-success">Update</button>
          </form>
        </div>
      </div>
      <div class="card mt-4 mt-4">
        <div class="card-header">
          <h2 class="mb-0">My Cart</h2>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Book Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr>
                <td>{{ cart_item.book.book_title }}</td>
                <td>${{ cart_item.book.book_price }}</td>
                <td>{{ cart_item.quantity }}</td>
                <td>
                  <form method="post" action="{% url 'cart_delete' cart_item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <form method="post" action="#">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Buy Now</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
